@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 14px;
  }

  .activeButton {
    border-bottom: 2px solid #2754d5 !important;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .resultContent {
    padding: 6px 12px;
  }
}

code {
  @apply inline-block rounded-sm bg-slate-900 text-slate-200 px-1;
}

pre {
  @apply w-full overflow-x-scroll rounded-md py-2 bg-slate-900 text-slate-200;
}